@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-text {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7),
    0 0 12px rgba(94, 234, 212, 0.6),
    0 0 18px rgba(16, 185, 129, 0.6);
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
}

.animate-floating {
    animation: floatUpDown 2.5s ease-in-out infinite;
}
